= simple_form_for @attachment do |f|
  - if @attachment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attachment.errors.count, "error")} prohibited this attachment from being saved:"
      %ul
        - @attachment.errors.full_messages.each do |msg|
          %li= msg

    .row
      .large-12.columns
        = f.label :name
        = f.input :name
    .row
      .large-12.columns
        = f.label :description
        = f..input :description
    .row
      .large-12.columns
        = f.label :filetype
        = f..input :filetype
    .row
      .large-12.columns
        = f.label :filelocation
        = f..input :filelocation
    .row
      .large-12.columns
        = f.button :submit 'Save'
