= simple_form_for @attachment do |f|
  - if notification = f.error_notification
    .alert-box.radius{ "data-alert" => true }
      = notification
      %a.close{href: "#"}
      
  = f.input :name, required: true

  = f.input :description, required: false

  = f.input :filetype, required: false

  = f.file_field :file, required: true

  = f.button :submit
