%p#notice= notice

%p
  %b Name:
  = @attachment.name
%p
  %b Description:
  = @attachment.description
%p
  %b Filetype:
  = @attachment.filetype
%p
  %b Filelocation:
  = @attachment.filelocation

= link_to 'Edit', edit_attachment_path(@attachment)
\|
= link_to 'Back', attachments_path
