= simple_form_for @document do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg
  .row
    .large-12.columns
      %fieldset
        %legend
          .label.radius
            DOCUMENT
        .row
          .large-6.columns
            = f.input :name, required: true, input_html: { class: 'form-control' }
          .large-6.columns
            = f.input :description, input_html: { class: 'form-control' }
        .row
          .large-4.columns
            = f.input :doc, as: :file, label: false, input_html: { id: 'basic' }
        .row
          .large-12.columns
            = f.button :submit