%p#notice= notice

%p
  %b Name:
  = @document.name
%p
  %b Description:
  = @document.description
%p
  %b Filetype:
  = @document.filetype
%p
  %b Filelocation:
  = @document.filelocation

= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
