= simple_form_for(@product, html: {role: "form", class: "form form-vertical"}) do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  %p
    .col-xs-9.col-md-9
      = f.input :name, input_html: { class: 'form-control' }
  .col-xs-4.col-md-4
    = f.input :manufacturer, input_html: { class: 'form-control' }
  .col-xs-5.col-md-5
    = f.input :model, input_html: { class: 'form-control' }
  .col-xs-4.col-md-4
    = f.label :image
    = f.file_field :image, input_html: { class: 'form-control'}
  .col-xs-8.col-md-8
    .input-group
      %span.input-group-addon Image URL
      = f.input :remote_image_url, :label => false

  .col-xs-4.col-md-4
    = f.collection_select :category, Category.all, :id, :name, input_html: { class: 'form-control' }

  .col-xs-6.col-md-6
    = f.input :link, input_html: { class: 'form-control' }

  .col-xs-6.col-md-6
    = f.input :description, input_html: { class: 'form-control' }
  
  .col-xs-6.col-md-6
    = f.input :tags, input_html: { class: 'chosen-select' }
  .col-xs-6.col-md-6
    = f.input :apms, label: 'Applicable Models', input_html: { class: 'form-control' }
  .col-xs-12.col-md-12.form-actions
    = f.button :submit, :class => "btn btn-warning"