= simple_form_for(@product) do |f|
  - if notification = f.error_notification
    .alert-box.warning.radius{ "data-alert" => true }
      %a.close{href: "#{}"}
      = notification

  .row
    .large-12.columns
      %fieldset
        %legend
          .label.radius
            PRODUCT DETAILS
        .row
          .large-6.columns
            = f.input :name, required: true, input_html: { class: 'form-control' }
          .large-6.columns
            = f.input :manufacturer, input_html: { class: 'form-control' }
        .row
          .large-6.columns
            = f.input :model, required: true, input_html: { class: 'form-control' }
          .large-6.columns
            = f.input :category, required: true do
              = f.select :category_id, Category.all.map { |c| [c.name, c.id]}, include_blank: true
        .row
          .large-4.columns
            = f.input :image, as: :file, label: false, input_html: { id: 'basic' }
            = image_tag @product.image.url(:medium).to_s, :class=>"th radius"

          .large-8.columns
            = f.input :description, label: false, input_html: { class: 'form-control' }
          .large-8.columns
            = f.input :link, input_html: { class: 'form-control' }
          .large-8.columns
            = f.input :tag_list, input_html: { class: 'tagz', id: 'input-tags'}
          .large-8.columns
            = f.input :apm_list, label: 'Applicable Models', input_html: { class: 'tagz', id: 'input-tags2' }
  .row
    .large-6.columns
      %fieldset
        %legend
          .label.radius
            DOCUMENTS
        - if @product.documented.empty?
          = render 'empty'
        - else
          = render 'doc', collection: @product.documented, :f => f


    .large-6.columns
      %fieldset
        %legend
          .label.radius
            ATTACHMENTS
        - if @product.attached.empty?
          = render 'empty'
        - else
          = render 'att', collection: @product.attachments, :f => f

  .row
    .large-12.columns
      = f.button :submit, :class => "alert small radius pull-right"
