= simple_form_for(@product) do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .row
    .large-12.columns
      = f.input :name, input_html: { class: 'form-control' }
  .row
    .large-6.columns
      = f.input :manufacturer, input_html: { class: 'form-control' }
    .large-6.columns
      = f.input :model, input_html: { class: 'form-control' }
  .row
    .large-6.columns
      = f.label :image
      = f.file_field :image, input_html: { class: 'form-control'}
    .large-6.columns
      = f.input :remote_image_url

  .row
    .large-6.columns
      = f.input :description, input_html: { class: 'form-control' }
    .large-6.columns
      = f.input :category do
        = f.select :category_id, Category.all.map { |c| [c.name, c.id]}, include_blank: true

  .row
    .large-12.columns
      = f.input :link, input_html: { class: 'form-control' }
  
  .row
    .large-12.columns
      = f.input :tag_list, input_html: { class: 'tagz', id: 'input-tags'}
  .row
    .large-12.columns
      = f.input :apm_list, label: 'Applicable Models', input_html: { class: 'tagz', id: 'input-tags2' }
  .row
    .large-12.columns
    = f.button :submit, :class => "button secondary"