%h1 Listing products

%table
  %tr
    %th Name
    %th Description
    %th Model
    %th Manufacturer
    %th Link
    %th Category
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.description
      %td= product.model
      %td= product.manufacturer
      %td= product.link
      %td= product.category
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
